.list-of-recipe {
  display: flex;
  flex-direction: column;
  .input-wrapper {
    width: 30%;
    display: flex;
    justify-content: center;
    margin: 0 35% 0 35%;
    padding: 10px;
    .search {
      width: 100%;
      position: relative;
      display: flex;
      .filter {
        width: 100%;
        border: 3px solid #00b4cc;

        padding: 5px;
        height: 30px;
        border-radius: 5px;
        outline: none;
        color: #9dbfaf;
      }
    }
  }
  .link {
    text-decoration: none;

    .recipe-item {
      display: flex;

      height: 70px;
      justify-content: center;
      border: 1px solid black;
    }
    .recipe-item:hover {
      background-color: antiquewhite;
      color: coral;
    }
  }
}
