body {
  background-color: lightgray;
}

.home-container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .about {
    justify-content: center;
  }

  .fun {
    flex-direction: row;
  }
}
