.container {
  .navbar-container {
    display: flex;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    margin: 0 10px;
    flex-grow: 3;
    justify-content: center;
  }
  h1 {
    text-align: center;
  }

  .link {
    text-decoration: none;
  }
}
