.container {
  text-align: center;
  .navbar-container {
    display: flex;
    width: 100%;
    .navbar {
      display: flex;
      flex-direction: row;
      padding: 0;
      margin: 0 5px;
      width: 33%;
      justify-content: center;
    }
    .link:hover {
      color: darkgray;
    }
    .link:active {
      color: lightblue;
      transition: 0.01s;
    }

    .link {
      color: black;
      text-decoration: none;

      text-transform: uppercase;
      font-weight: 500;

      width: 100%;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }
  }
}
